// app global css in SCSS form
.title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(80, 78, 78);
}

// declare a class which applies it
body {
  font-family: 'Merriweather', sans-serif;
}
a{
  text-decoration: none;
}
